.container {
    margin-top: 85px;
    position: relative;
    display: grid;
    grid-template-columns: 50vw 50vw;
}

::-webkit-scrollbar {
    display: none;
}

.textarea {
}

.visuals {
}

h1 {
    font-size: 2rem;
    color: white;
    background-color: rgba(60, 78, 224, 1);
    font-weight: 700;
    transform: translateX(3vw);
    display: inline-block;
    border: 0.6rem solid rgb(60, 78, 224);
    text-decoration: none;
    margin: 2rem 2rem 2rem 0vw;
}

.link-btn {
    font-size: 1.5rem;
    color: white;
    background-color: rgba(60, 78, 224, 1);
    font-weight: 700;
    transform: translateX(3vw);
    display: inline-block;
    border: 0.6rem solid rgb(60, 78, 224);
    text-decoration: none;
    margin: 2rem 1.5rem 2rem 0vw;
}

.ta-blue {
    color: rgba(60, 78, 224, 1);
    font-weight: 700;
}

p {
    position: relative;
    margin: 0 0 2rem 5vw;
    color: black;
    line-height: 1.6rem;
    font-size: 1.1rem;
}

a {
    color: rgb(60, 78, 224);
    font-weight: 700;
    cursor: pointer;
}

h3 {
    font-size: 1.5em;
    display: inline-flex;
    padding: 0.5rem;
    color: white;
    background-color: rgba(60, 78, 224, 1);
    margin: 0 0 1rem 5vw;
}

h3 ~ p {
    margin: 0 0 2rem 7vw;
}

h4 {
    font-size: 1.25em;
    display: inline-flex;
    padding: 0.5rem;
    color: white;
    background-color: rgba(60, 78, 224, 1);
    margin: 0 0 1rem 7vw;
}

ul {
    list-style-type: none;
    margin: 0 0 2rem 0rem;
}

h4 ~ p {
    margin: 0 0 2rem 8rem;
}

li {
    margin: 1rem 8vw;
    line-height: 1.3rem;
}

.tag {
    font-family: monospace;
    font-size: 1.3em;
    background-color: rgba(235, 235, 235, 1);
    padding: 0.1rem;
    white-space: pre-wrap,
}

ul li:before
{
    position: absolute;
    content: '';
    margin: 7px -1.5em;    /* any design */
    width: 7.5px;
    height: 7.5px;
    background-color: rgb(60,78,224);
    transform: rotate(45deg);
}

.wireframe_undraw_player {
    position: absolute;
    height: 400px;
    top: -70px;
    left: 45vw;
}

.app_logo {
    position: absolute;
    height: 200px;
    width: 200px;
}

/* .figma_logo {
    top: 0;
    left: 45vw;
}

.adobe_logo {
    top: 0;
    left: 65vw;
}

.invision_logo {
    top: 300px;
    left: 45vw;
}

.sketch_logo {
    top: 300px;
    left: 65vw;
} */

.wireframe_watercolor {
    position: absolute;
    top: 0;
    left: 45vw;
}

.wireframe_blank {
    position: absolute;
    top: 0;
    left: 45vw;
}

.wireframe_drawing {
    position: absolute;
}

.api-iframe {
    width: 36vw;
    height: 500px;
    transform: translateX(50vw);
}